[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
pylint = "*"
pylint-fail-under = "*"
black = "*"

[packages]
yfinance = "*"
requests = "*"
pandas = "*"
numpy = "*"

[scripts]
start = "python main.py"
lint = "pylint stalker"
standard = "black -S ./stalker"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
