[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
pylint = "*"
pylint-fail-under = "*"
black = "*"

[packages]
yfinance = "*"
requests = "*"
pandas = "*"
numpy = "*"

[scripts]
start = "python main.py"
standard = "black -S stalker"
check = "black -S --check stalker"
lint = "pylint-fail-under --fail_under 10.0 stalker"
test = "true"

[pipenv]
allow_prereleases = true
